@page "/events/delete"
@using Microsoft.EntityFrameworkCore
@using EventRegistration.Domain
@inject IDbContextFactory<EventRegistration.Data.EventRegistrationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Event</h2>
    <hr />
    @if (selectedEvent is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@selectedEvent.Title</dd>

            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@selectedEvent.Type</dd>

            <dt class="col-sm-2">EventDate</dt>
            <dd class="col-sm-10">@selectedEvent.EventDate</dd>

            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@selectedEvent.Location</dd>

            <dt class="col-sm-2">TotalCapacity</dt>
            <dd class="col-sm-10">@selectedEvent.TotalCapacity</dd>

            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@selectedEvent.DateCreated</dd>

            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@selectedEvent.DateUpdated</dd>

            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@selectedEvent.CreatedBy</dd>

            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@selectedEvent.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="selectedEvent" OnValidSubmit="DeleteEvent" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(selectedEvent is null)">Delete</button> |
            <a href="/events">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Event? selectedEvent;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        selectedEvent = await context.Event.FirstOrDefaultAsync(m => m.Id == Id);

        if (selectedEvent is null)
        {
            // If you have a NotFound page/route, change this to that route
            NavigationManager.NavigateTo("/events");
        }
    }

    private async Task DeleteEvent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Event.Remove(selectedEvent!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/events");
    }
}
