@page "/events"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using EventRegistration.Domain
@using EventRegistration.Data
@implements IAsyncDisposable
@inject IDbContextFactory<EventRegistrationContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="/events/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Event.AsNoTracking()">
    <TemplateColumn Title="Title" Context="e">
        <a href="@($"/events/{e.Id}/tickets")">@e.Title</a>
    </TemplateColumn>
    <PropertyColumn Property="e => e.Title" />
    <PropertyColumn Property="e => e.Type" />
    <PropertyColumn Property="e => e.EventDate" />
    <PropertyColumn Property="e => e.Location" />
    <PropertyColumn Property="e => e.TotalCapacity" />
    <PropertyColumn Property="e => e.DateCreated" />
    <PropertyColumn Property="e => e.DateUpdated" />
    <PropertyColumn Property="e => e.CreatedBy" />
    <PropertyColumn Property="e => e.UpdatedBy" />

    <TemplateColumn Context="e">
        <a href="@($"/events/edit?id={e.Id}")">Edit</a> |
        <a href="@($"/events/details?id={e.Id}")">Details</a> |
        <a href="@($"/events/delete?id={e.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private EventRegistrationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
